<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Attach Accessory</title>
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='./images/favicon.png' />
</head>

<body>
    <div class="container">
        {{> header}}
        <main>
            {{> detailDiv cube}}
            <h2>Accessories</h2>
            <div class="accessories">
                {{#each cube.accessories}}
                {{> detailAccessoryDiv}}
                {{/each}}
                <h3 class="italic">This cube has no accessories yet...</h3>
            </div>
        </main>
    </div>
    {{> footer}}
</body>

</html>